<div class="objects-component">
    <h2 class="objects-component-title">{{title}}</h2>
    <div class="objects-container">
        <app-object *ngFor="let facility of data" 
        [title]="facility.name" 
        [grade]="facility.totalRating"
        [services]="transformDisciplinesToString(facility.disciplines)"
        [objectImg]="facility.images[0]?.image"
        [id]="facility.id"
        [active]="facility.active"
        ></app-object>
        </div>
    <div class="objects-component-more-button">
        <a class="objects-component-more-button-link" routerLink="/objects">Pogledaj vise</a>
    </div>
</div>