<div class="objects-component">
    <h2 class="objects-component-title">{{title}}</h2>
    <div class="objects-container">
        <app-object [title]="'Iron Republic 2'" [grade]="'9.28'" [services]="'Teretana'"></app-object>
        <app-object [title]="'Ahilej Zemun'" [grade]="'9.12'" [services]="'Teretana - Personalni trening - Vodjeni treninzi'" [objectImg]="'assets/images/gym_background2.jpg'"></app-object>
        <app-object [title]="'Athletics Gym - Konjarnik'" [grade]="'9.35'" [services]="'Teretana - Aerobik - Funkcionalni trening - Pilates - Zumba - Individualni trening - Vođeni treninzi - Grupni trening'" [objectImg]="'assets/images/gym_background3.jpg'"></app-object>
        <app-object [title]="'Ahilej Medakovic'" [grade]="'9.53'" [services]="'Teretana - Personalni trening - Vodjeni treninzi'" [objectImg]="'assets/images/gym_background4.jpg'"></app-object>
        <app-object [title]="'Mega Gym CENTRAL'" [grade]="'9.61'" [services]="'Teretana - Borilacke vestine'" [objectImg]="'assets/images/gym_background5.jpeg'"></app-object>
    </div>
    <div class="objects-component-more-button">
        <a class="objects-component-more-button-link" routerLink="/objects">Pogledaj vise</a>
    </div>
</div>