.background-container{
    background: url('../../../assets/images/background.jpg');
    background-position: center;
    background-size: contain;
    background-color: rgb(146, 73, 73);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    padding: 10px 0;
}


.register-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    height: 100vh;
    gap: 10px;
    padding-top: 10px;
    background-color: rgba(0,0,0,0.4);
    
}

.register-container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.register-container-title{
    font-size: 32;
    font-weight: 600;
    letter-spacing: 2px;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.register-container-subtitle{
    font-size:16px;
    font-weight:400;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.register-container-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: '#f2f2f2';
    border: 1px solid white;
    padding: 20px 40px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    min-width: 250px;
    min-height: 250px;
}

.register-container-form-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-bottom:10px;
}

.register-container-form-submit{
    background-color: deepskyblue;
    border: 1px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

input{
    padding: 5px;
    border-radius: 5px;
    border:1px solid #f1f1f1;
}

