<div class="edit-user-container">
    <h2>Promena lozinke</h2>
    <form (ngSubmit)="onUpdateUserPassword()">
      <div>
        <label>Prethodna lozinka:</label>
        <input type="password" [(ngModel)]="oldPassword" name="oldPassword" required>
      </div>
      <div>
        <label>Nova lozinka:</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div>
        <label>Ponovo nova lozinka:</label>
        <input type="password" [(ngModel)]="newPasswordAgain" name="newPasswordAgain" required>
      </div>
      <p class="edit-user-container-note">{{note}}</p>
      <button type="submit">Izmeni</button>
    </form>
  </div>
  