.search-parametars{
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.search-parametars-search{
    padding: 10px 5px;
    background-color: #f0f0f0;
    border: 0;
    border-radius: 10px;
    width: 200px;
}

.search-results{
    padding: 20px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}