<div class="multi-select-dropdown">
    <div class="dropdown-header" (click)="toggleDropdown()">
      <span *ngIf="!selectedOptions.length">{{ placeholder }}</span>
      <span *ngFor="let option of selectedOptions">{{ option }}{{selectedOptions.length > 1 ? ', ' : ''}}</span>
      <span class="dropdown-arrow">&#9662;</span>
    </div>
    <div class="dropdown-options" *ngIf="isOpen">
      <div *ngFor="let option of options">
        <input type="checkbox" [checked]="isSelected(option)" (change)="toggleSelection(option)" /> {{ option }}
      </div>
    </div>
  </div>
  