<div>
    <app-navbar></app-navbar>
    <div class="profile-content">
        <div class="profile-content-img">
        </div>
        <mat-tab-group>
          <mat-tab label="Informacije">
            <ng-template matTabContent>
              <p>Informacije</p>
            </ng-template>
          </mat-tab>
          <mat-tab label="Podesavanja">
            <ng-template matTabContent>
              <p>Podesavanja</p>
            </ng-template>
          </mat-tab>
          <mat-tab label="Poseceni objekti">
            <ng-template matTabContent>
              <p>Poseceni objekti</p>
            </ng-template>
          </mat-tab>
          <mat-tab label="Utisci">
            <ng-template matTabContent>
              <p>Utisci</p>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
    </div>
    
<app-footer></app-footer>
</div>