<div>
    <app-navbar></app-navbar>
    <div class="profile-content">
        <div class="profile-content-img" [style.background-image]="'url(' + 'data:image/jpeg;base64,' + userInfo?.image?.image + ')'">
        </div>
        <mat-tab-group>
          <mat-tab label="Informacije">
            <ng-template matTabContent>
              <div *ngIf="userInfo" class="profile-content-div">
                <!-- <p><strong>ID:</strong> {{ userInfo.id }}</p> -->
                <p><strong>Email:</strong> {{ userInfo.email }}</p>
                <p><strong>Ime i prezime:</strong> {{ userInfo.firstName }} {{ userInfo.lastName }}</p>
                <p><strong>Telefon:</strong> {{ userInfo.phoneNumber }}</p>
                <p><strong>Adresa:</strong> {{ userInfo.address }}</p>
                <p><strong>Grad:</strong> {{ userInfo.city }}</p>
                <p><strong>Postanski broj:</strong> {{ userInfo.zipCode }}</p>
                <p><strong>Datum rodjenja:</strong> {{ userInfo.birthday | date:'mediumDate' }}</p>
                <!-- <p><strong>Roles:</strong> {{ userRoles.join(', ') }}</p> -->
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Podesavanja" class="card-container">
            <ng-template matTabContent>
              <div class="profile-content-div">
                <div class="profile-content-button">
                  <a class="profile-content-button-link" (click)="onEditUser()">Izmeni podatke</a>
                </div>
                <div class="profile-content-button">
                  <a class="profile-content-button-link" (click)="onEditUserPassword()">Promeni lozniku</a>
                </div>
                <div class="profile-content-button">
                  <a class="profile-content-button-link" (click)="onEditImage()">Promeni sliku</a>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="exercises!=null && exercises.length != 0" label="Poseceni objekti" class="card-container">
            <ng-template matTabContent>
              <div class="visited-facilities-container">
                <div *ngFor="let exercise of exercises" class="visited-facility-container">
                  <h3 class="visited-facility-container-title">{{exercise.facility.name}}</h3>
                  <p class="visited-facility-container-date">{{exercise.from[2]}}.{{exercise.from[1]}}.{{exercise.from[0]}} {{ exercise.from[3] }}:{{ exercise.from[4] | number:'2.0' }}</p>
                  <p class="visited-facility-container-date">{{exercise.until[2]}}.{{exercise.until[1]}}.{{exercise.until[0]}} {{ exercise.until[3] }}:{{ exercise.until[4] | number:'2.0' }}</p>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="reviews!=null && reviews.length!=0 " label="Utisci" class="card-container">
            <ng-template matTabContent>
              <div class="reviews-container">
                <div *ngFor="let review of reviews" class="review-container">
                  <div class="review-container-header">
                    <h3 class="review-container-title">{{review.facility.name}}</h3>
                    <p class="review-container-date">{{review.createdAt[2]}}.{{review.createdAt[1]}}.{{review.createdAt[0]}} {{ review.createdAt[3] }}:{{ review.createdAt[4] | number:'2.0' }}</p>
                    <p>Poseceno:  {{review.exerciseCount}}</p>
                  </div>
                  <div class="review-container-grades">
                    <p class="review-container-grades-grade">Higijena: {{review.rate.hygiene}}</p>
                    <p class="review-container-grades-grade">Prostor: {{review.rate.space}}</p>
                    <p class="review-container-grades-grade">Opremljenost: {{review.rate.equipment}}</p>
                    <p class="review-container-grades-grade">Osoblje: {{review.rate.staff}}</p>
                  </div>
                  <p *ngIf="review?.commentDTO?.text!=undefined" >{{review?.commentDTO?.text}}</p>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="isManages" label="Menadzer" class="card-container">
            <ng-template matTabContent>
              <div class="visited-facilities-container">
                <div *ngFor="let manage of manages" class="visited-facility-container">
                  <h3 class="visited-facility-container-title">{{manage.facility.name}}</h3>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab *ngIf="isAdmin && requests!=null && requests.length!=0 " label="Zahtevi za registraciju" class="card-container">
            <ng-template matTabContent>
              <!-- <div class="visited-facilities-container">
                <div *ngFor="let manage of manages" class="visited-facility-container">
                  <h3 class="visited-facility-container-title">{{manage.facility.name}}</h3>
                </div>
              </div> -->
              <div *ngFor="let request of requests" class="request-container">
                <div class="request-container-data">
                  <p>{{request.createdAt[2]}}.{{request.createdAt[1]}}.{{request.createdAt[0]}} {{ request.createdAt[3] }}</p>
                  <p>{{request.firstName}} {{request.lastName}}</p>
                  <p>{{request.email}}</p>
                </div>
                <div *ngIf="request.status=='PENDING'" class="request-container-commands">
                  <div class="request-container-commands-command">
                    <a class="request-container-commands-command-link" (click)="acceptRequest(request.id)">Potvrdi</a>
                  </div>
                  <div class="request-container-commands-command">
                    <a class="request-container-commands-command-link" (click)="rejectRequest(request.id)">Otkazi</a>
                  </div>
                </div>
                <div *ngIf="request.status!='PENDING'">
                    <p *ngIf="request.status=='ACCEPTED'" >Prihvacen</p>
                    <p *ngIf="request.status=='REJECTED'" >Odbijen</p>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
    </div>
    
<app-footer></app-footer>
</div>