<div>
    <app-navbar></app-navbar>
    <div class="home-hero-background">
        <div class="home-hero-content">
            <h2 class="home-hero-content-title">Vezbaj</h2>
            <h3 class="home-hero-content-subtitle">u najboljim teretanama, fitnes studijima i sportskim centrima širom Srbije, sa samo jednom članarinom!</h3>
            <div class="home-hero-button">
                <a class="home-hero-button-link" routerLink="/objects">Pogledaj objekte</a>
            </div>
        </div>
    </div>
    <div class="home-objects">
        <app-objects *ngIf="nearFacilities.length > 0" [title]="'Objekti u Vasoj blizini'" [data]="nearFacilities"></app-objects>
        <app-objects *ngIf="mostPopularFacilities.length > 0" [title]="'Najpopularniji objekti'" [data]="mostPopularFacilities"></app-objects>
        <app-objects *ngIf="visitedFacilities.length > 0" [title]="'Objekti koje ste posetili'" [data]="visitedFacilities"></app-objects>
        <app-objects *ngIf="tryNewFacilities.length > 0" [title]="'Isprobaj novo'" [data]="tryNewFacilities"></app-objects>
    </div>
    <app-footer></app-footer>
</div>