<div>
    <app-navbar></app-navbar>
    <div class="detailed-object-images-gallery">
        <img *ngFor="let image of images" [src]="'data:image/jpeg;base64,' + image.image" alt="" class="detailed-object-images-gallery-image">
    </div>
    <div class="detailed-object-details">
        <div class="detailed-object-details-header">
            <p *ngIf="facility.active==false">Ova teretana nije aktivna jer nema menadzera.</p>
            <div class="detailed-object-details-header-main">
                <h2 class="detailed-object-details-header-title">{{name}}</h2>
                <div class="detailed-object-details-header-main-action-button">
                    <a class="detailed-object-details-header-main-action-button-link" (click)="onAddExercise()">Zakazi termin</a>
                </div>
                <div *ngIf="role=='ADMIN'" class="detailed-object-details-header-main-action-button">
                    <a class="detailed-object-details-header-main-action-button-link" (click)="onDeleteFacility()">Obrisi</a>
                </div>
                <div *ngIf="role=='ADMIN' || (role=='MANAGER' && hasManagerRight==true)" class="detailed-object-details-header-main-action-button">
                    <a class="detailed-object-details-header-main-action-button-link" (click)="onEditFacility()">Izmeni</a>
                </div>
                <div *ngIf="role=='ADMIN'" class="detailed-object-details-header-main-action-button">
                    <a class="detailed-object-details-header-main-action-button-link" (click)="onOpenManagers()">Menadzeri</a>
                </div>
            </div>
            <p *ngIf="reviewsCount>0" class="detailed-object-details-header-grade">Ocena: {{totalRating}}</p>
            <p *ngIf="reviewsCount<=0" class="detailed-object-details-header-grade">Ocena: ovaj objekat nije ocenjivan</p>
            <div class="detailed-object-details-header-activities">
                <div *ngFor="let discipline of disciplines " class="detailed-object-details-header-activities-activity">
                    {{discipline.name}}
                </div>
            </div>
            <div class="detailed-object-details-header-location">
                <img [src]="location" alt="" class="detailed-object-details-header-location-img">
                <p class="detailed-object-details-header-location-address">{{address}}, {{city}}</p>
            </div>
        </div>
        <div class="detailed-object-details-main">
            <div class="detailed-object-details-main-time">
                <h2>Radno vreme</h2>
                <div class="horizontal-line"></div>
                <table>
                <tr *ngFor="let workday of sortedWorkdays">
                    <td>
                        <span *ngIf="workday.dayOfWeek === 'MONDAY'">Ponedeljak</span>
                        <span *ngIf="workday.dayOfWeek === 'TUESDAY'">Utorak</span>
                        <span *ngIf="workday.dayOfWeek === 'WEDNESDAY'">Sreda</span>
                        <span *ngIf="workday.dayOfWeek === 'THURSDAY'">Četvrtak</span>
                        <span *ngIf="workday.dayOfWeek === 'FRIDAY'">Petak</span>
                        <span *ngIf="workday.dayOfWeek === 'SATURDAY'">Subota</span>
                        <span *ngIf="workday.dayOfWeek === 'SUNDAY'">Nedelja</span>
                    </td>
                    <td>{{ workday.from[0] }}:{{ workday.from[1] | number:'2.0' }} - {{ workday.until[0] }}:{{ workday.until[1] | number:'2.0' }}</td>
                </tr>
        
                    
                </table>
            </div>
            <div class="detailed-object-details-main-about">
                <h2>O nama</h2>
                <div class="horizontal-line"></div>
                <p>
                    {{description}}
                </p>
            </div>
        </div>
        <div class="detailed-object-details-footer">
            <h2 class="detailed-object-details-footer-title">Ocene i utisci</h2>
            <div *ngIf="totalRating!=undefined && totalRating!='0'" class="detailed-object-details-footer-grades">
                <h3 class="detailed-object-details-footer-grades-total">{{totalRating}}</h3>
                <table class="detailed-object-details-footer-grades-specific-grades">
                    <tr>
                        <td>
                            Opremljenost
                        </td>
                        <td>
                            {{equipment}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Osoblje
                        </td>
                        <td>
                            {{stuff}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Higijena
                        </td>
                        <td>
                            {{hygiene}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prostor
                        </td>
                        <td>
                            {{space}}
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="reviewsCount<=0" class="detailed-object-details-footer-grades">
                <h3 class="detailed-object-details-footer-gardes-nogrades">Nema utisaka.</h3>
            </div>
            <select *ngIf="reviewsCount>0" (change)="onSortChange($event)">
                <option value="createdAtAsc">Sortiraj po datumu: Rastuce</option>
                <option value="createdAtDesc">Sortiraj po datumu: Opadajuce</option>
                <option value="rateAsc">Sortiraj po oceni: Rastuce</option>
                <option value="rateDesc">Sortiraj po oceni: Opadajuce</option>
              </select>
            <div class="detailed-object-details-footer-comments">
                <div *ngFor="let review of reviews" class="detailed-object-details-footer-comments-comment">
                    <div class="detailed-object-details-footer-comments-comment-header">
                        <div *ngIf="review.hidden == true">
                            <p>Ovaj review je skriven i vidljiv je samo administratorima i menadzerima objekta</p>
                        </div>
                        <div class="detailed-object-details-footer-comments-comment-header-user">
                            <div class="detailed-object-details-footer-comments-comment-header-user-image" [style.background-image]="'url(' + 'data:image/jpeg;base64,' + review?.user?.image?.image + ')'"></div>
                            <p class="detailed-object-details-footer-comments-comment-header-user-name">{{review.user.firstName}} {{review.user.lastName}}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-user-date">{{review.createdAt[2]}}.{{review.createdAt[1]}}.{{review.createdAt[0]}} {{ review.createdAt[3] }}:{{ review.createdAt[4] | number:'2.0' }}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-user-exerciseCount">Poseceno puta: {{review.exerciseCount}}</p>
                        </div>
                        <div class="detailed-object-details-footer-comments-comment-header-grades">
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Higijena: {{review.rate.hygiene}}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Osoblje: {{review.rate.staff}} </p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Prostor: {{review.rate.space}}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Opremljenost: {{review.rate.equipment}} </p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Ukupno: {{review.rate.total}} </p>
                        </div>
                    </div>
                    <app-comment *ngIf="review?.commentDTO?.text!=undefined" [comment]="review?.commentDTO"></app-comment>
                    <!-- <p *ngIf="review?.commentDTO?.text!=undefined" class="detailed-object-details-footer-comments-comment-comment">{{review?.commentDTO?.text}}</p> -->
                    <!-- <div>
                        <div *ngFor="let comment of review?.commentDTO?.replies">
                            <app-comment [comment]="comment"></app-comment>
                        </div>
                    </div> -->
                    <div *ngIf="role=='ADMIN' || (role=='MANAGER' && hasManagerRight==true)"  class="detailed-object-details-footer-comments-comment-commands">
                        <div *ngIf="review.hidden == true" class="detailed-object-details-header-main-action-button">
                            <a class="detailed-object-details-header-main-action-button-link" (click)="showReview(review.id)">Prikazi review</a>
                        </div>
                        <div *ngIf="review.hidden == false" class="detailed-object-details-header-main-action-button">
                            <a class="detailed-object-details-header-main-action-button-link" (click)="hideReview(review.id)">Sakrij review</a>
                        </div>
                        <div class="detailed-object-details-header-main-action-button">
                            <a class="detailed-object-details-header-main-action-button-link" (click)="deleteReview(review.id)">Obrisi review</a>
                        </div>
                        <!-- <div class="detailed-object-details-header-main-action-button">
                            <a class="detailed-object-details-header-main-action-button-link" (click)="deleteReview(review.id)">Odgovori</a>
                        </div> -->
                    </div>
                </div>
                <div *ngIf="exerciseCount > 0 && alreadyComment == false" class="detailed-object-details-footer-comments-comment">
                    <div class="detailed-object-details-footer-comments-comment-header">
                        <h2 class="detailed-object-details-footer-comments-comment-header-leave-comment">Ostavi svoj utisak</h2>
                    </div>
                    <form (ngSubmit)="onReviewPost()" class="add-review-form">
                        <label for="staff">Osoblje</label>
                        <input name="staff" [(ngModel)]="reviewData.rate.staff" id="staff" type="number" min="1" max="10" required />
                      
                        <label for="equipment">Opremljenost</label>
                        <input name="equipment" [(ngModel)]="reviewData.rate.equipment" id="equipment" type="number" min="1" max="10" required />
                      
                        <label for="space">Prostor</label>
                        <input name="space" [(ngModel)]="reviewData.rate.space" id="space" type="number" min="1" max="10" required />
                      
                        <label for="hygiene">Higijena</label>
                        <input name="hygiene" [(ngModel)]="reviewData.rate.hygiene" id="hygiene" type="number" min="1" max="10" required />
                      
                        <label for="comment">Komentar</label>
                        <textarea name="comment" id="comment" [(ngModel)]="reviewData.commentDTO.text" placeholder="Komentar"></textarea>
                      
                        <p>{{commentResponse}}</p>
                        <button type="submit">Postavi</button>
                      </form>
                </div>
                <div *ngIf="exerciseCount <= 0" class="detailed-object-details-footer-comments-comment">
                    <h2 class="detailed-object-details-footer-comments-comment-header-leave-comment">Ne mozete ostaviti komentar jer niste posetili ovu teretanu.</h2>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>