<div>
    <app-navbar></app-navbar>
    <div class="detailed-object-images-gallery">
        <img *ngFor="let image of images" [src]="'data:image/jpeg;base64,' + image.image" alt="" class="detailed-object-images-gallery-image">

        <!-- <img src="../../assets/images/gym_background.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background2.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background3.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background4.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background2.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background3.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background4.jpg" alt="" class="detailed-object-images-gallery-image">
        <img src="../../assets/images/gym_background.jpg" alt="" class="detailed-object-images-gallery-image"> -->

    </div>
    <div class="detailed-object-details">
        <div class="detailed-object-details-header">
            <div class="detailed-object-details-header-main">
                <h2 class="detailed-object-details-header-title">{{name}}</h2>
                <div class="detailed-object-details-header-main-action-button">
                    <a class="detailed-object-details-header-main-action-button-link" (click)="onAddExercise()">Zakazi termin</a>
                </div>
            </div>
            <p *ngIf="reviewsCount>0" class="detailed-object-details-header-grade">Ocena: {{totalRating}}</p>
            <p *ngIf="reviewsCount<=0" class="detailed-object-details-header-grade">Ocena: ovaj objekat nije ocenjivan</p>
            <div class="detailed-object-details-header-activities">
                <div *ngFor="let discipline of disciplines " class="detailed-object-details-header-activities-activity">
                    {{discipline.name}}
                </div>
            </div>
            <div class="detailed-object-details-header-location">
                <img [src]="location" alt="" class="detailed-object-details-header-location-img">
                <p class="detailed-object-details-header-location-address">{{address}}, {{city}}</p>
            </div>
        </div>
        <div class="detailed-object-details-main">
            <div class="detailed-object-details-main-time">
                <h2>Radno vreme</h2>
                <div class="horizontal-line"></div>
                <table>
                <tr *ngFor="let workday of sortedWorkdays">
                    <td>
                        <span *ngIf="workday.dayOfWeek === 'MONDAY'">Ponedeljak</span>
                        <span *ngIf="workday.dayOfWeek === 'TUESDAY'">Utorak</span>
                        <span *ngIf="workday.dayOfWeek === 'WEDNESDAY'">Sreda</span>
                        <span *ngIf="workday.dayOfWeek === 'THURSDAY'">Četvrtak</span>
                        <span *ngIf="workday.dayOfWeek === 'FRIDAY'">Petak</span>
                        <span *ngIf="workday.dayOfWeek === 'SATURDAY'">Subota</span>
                        <span *ngIf="workday.dayOfWeek === 'SUNDAY'">Nedelja</span>
                    </td>
                    <td>{{ workday.from[0] }}:{{ workday.from[1] | number:'2.0' }} - {{ workday.until[0] }}:{{ workday.until[1] | number:'2.0' }}</td>
                </tr>
        
                    
                </table>
            </div>
            <div class="detailed-object-details-main-about">
                <h2>O nama</h2>
                <div class="horizontal-line"></div>
                <p>
                    {{description}}
                </p>
            </div>
        </div>
        <div class="detailed-object-details-footer">
            <h2 class="detailed-object-details-footer-title">Ocene i utisci</h2>
            <div *ngIf="reviewsCount>0" class="detailed-object-details-footer-grades">
                <h3 class="detailed-object-details-footer-grades-total">{{totalRating}}</h3>
                <table class="detailed-object-details-footer-grades-specific-grades">
                    <tr>
                        <td>
                            Opremljenost
                        </td>
                        <td>
                            {{equipment}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Osoblje
                        </td>
                        <td>
                            {{stuff}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Higijena
                        </td>
                        <td>
                            {{hygiene}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prostor
                        </td>
                        <td>
                            {{space}}
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="reviewsCount<=0" class="detailed-object-details-footer-grades">
                <h3 class="detailed-object-details-footer-gardes-nogrades">Ovaj objekat nije ocenjivan.</h3>
            </div>
            <div class="detailed-object-details-footer-comments">
                <div *ngFor="let review of reviews" class="detailed-object-details-footer-comments-comment">
                    <div class="detailed-object-details-footer-comments-comment-header">
                        <div class="detailed-object-details-footer-comments-comment-header-user">
                            <div class="detailed-object-details-footer-comments-comment-header-user-image" [style.background-image]="'url(' + 'data:image/jpeg;base64,' + review.user.image.image + ')'"></div>
                            <p class="detailed-object-details-footer-comments-comment-header-user-name">{{review.user.firstName}} {{review.user.lastName}}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-user-date">{{review.createdAt[2]}}.{{review.createdAt[1]}}.{{review.createdAt[0]}} {{ review.createdAt[3] }}:{{ review.createdAt[4] | number:'2.0' }}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-user-exerciseCount">Poseceno puta: {{review.exerciseCount}}</p>
                        </div>
                        <div class="detailed-object-details-footer-comments-comment-header-grades">
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Higijena: {{review.rate.hygiene}}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Osoblje: {{review.rate.stuff}} </p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Prostor: {{review.rate.space}}</p>
                            <p class="detailed-object-details-footer-comments-comment-header-grade">Opremljenost: {{review.rate.equipment}} </p>
                        </div>
                    </div>
                    <p class="detailed-object-details-footer-comments-comment-comment">{{review.comment.text}}</p>
                </div>
                <div *ngIf="exerciseCount > 0" class="detailed-object-details-footer-comments-comment">
                    <div class="detailed-object-details-footer-comments-comment-header">
                        <h2 class="detailed-object-details-footer-comments-comment-header-leave-comment">Ostavi svoj utisak</h2>
                    </div>
                    <textarea name="Komentar" id="" placeholder="Komentar"></textarea>
                </div>
                <div *ngIf="exerciseCount <= 0" class="detailed-object-details-footer-comments-comment">
                    <h2 class="detailed-object-details-footer-comments-comment-header-leave-comment">Ne mozete ostaviti komentar jer niste posetili ovu teretanu.</h2>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>